<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>组件解析</title>
  <style>
    *{box-sizing: border-box;padding: 0;}
    body{margin:20px auto;width: 1200px;}
  </style>
</head>
<body>
  <h3>基础组件</h3>
  <p>什么是组件</p>
  <ul>
    <li>组件是视图层的基本组成单元。</li>
    <li>组件自带一些功能与微信风格一致的样式。</li>
    <li>一个组件通常包括 开始标签 和 结束标签，属性 用来修饰这个组件，内容 在两个标签之内。</li>
  </ul>
  <p><strong>注意：所有组件与属性都是小写，以连字符-连接</strong></p>
  <h3>属性类型</h3>
  <img src="../images/component/types.png" alt="">
  <h3>公有属性</h3>
  <img src="../images/component/public-props.png" alt="">
</body>
</html>